<kendo-dialog-titlebar>
  {{lookupComponent.title}}
</kendo-dialog-titlebar>
<kendo-grid
  [data]="lookupData"
  [loading]="loading"
  [selectable]="true"
  (selectionChange)="onSelection($event)"
>
  <kendo-grid-column *ngFor="let column of columnConfig" 
    field="{{column.field}}" 
    title="{{column.title}}" 
    filter="{{column.type}}"
    format="{{column.format}}" 
    width="{{column.width}}"
    minResizableWidth="{{column.width}}"
    headerClass={{column.headerClass}}
    class={{column.class}}
  ></kendo-grid-column>
</kendo-grid>